<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>管理員後台樣板</title>

  <!-- 樣板需要的 css 資源-->
  <script src="https://kit.fontawesome.com/cda74843f9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/sb-admin-2.min.css">
  <link rel="stylesheet" href="/css/sb-admin-2-custom-admin.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/vue@3.4.21/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body id="app">

  <!-- 模板外層容器 -->
  <div id="wrapper">
    <!-- 側邊 Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion bg-deep-blue" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-text mx-3">管理員後台</div>
      </a>
      <!-- 分隔線 -->
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="./admin-member.html">
          <img src="/images/member-1.png">
          <span>會員資料</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./admin-menu-order.html">
          <img src="/images/data-1.png">
          <span>餐點訂單</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./admin-statistic.html">
          <img src="/images/money-report-1.png">
          <span>銷售數據</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./admin-ad-history.html">
          <img src="/images/adhistory.png">
          <span>廣告履歷</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./admin-coupon.html">
          <img src="/images/coupon.png">
          <span>優惠卷</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./admin-restaurant.html">
          <img src="/images/edit.png">
          <span>餐廳資訊</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./admin-contact.html">
          <img src="/images/customer-service.jpg">
          <span>客服中心</span>
        </a>
      </li>
      <!-- Sidebar 展開收合按鈕 -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>

    <!-- 主內容區域，包含上方導覽列與各網頁內容 -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- 上方導覽列 -->
        <nav class="navbar navbar-expand topbar mb-4 static-top" style="display: flex; justify-content: space-between;">
          <div class="temp"></div>
          <div class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small topbar-name">{{adminName}}</span>
            </a>
            <!-- 功能列表 -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" @click="logout">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                登出
              </a>
            </div>
          </div>
        </nav>

        <!-- 各網頁內容 -->
        <div class="container-fluid">
          <div class="col py-3">
            <div class="container mt-3">
              <div class="row">
                <div class="col">
                  <!-- <button type="button" class="btn btn-info text-white" @click="getAllMemberList">查詢所有</button> -->
                  <!-- <button type="button" class="btn btn-info text-white" data-bs-toggle="modal" data-bs-target="#member-create-modal">新增</button> -->
                  <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="member-create-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form role="form">
          <!-- 編輯內容 - 開始 -->
          <div class="form-group">
            <input type="file" class="form-control" :key="inputKey" id="photo" name="photo"
              @change="handleFileChange">

            <img :src="'data:image/jpeg;base64,' + photo" alt="member photo"
              style="width: 200px; height: auto;">
          </div>
          <div class="form-group">
            <label for="email">電子郵件</label>
            <input type="text" class="form-control" id="email" name="email" v-model="email"
              >
          </div>
          <div class="form-group">
            <label for="name">會員名稱</label>
            <input type="text" class="form-control" id="name" name="name" v-model="name">
          </div>
          <div class="form-group">
            <label for="phone">會員電話</label>
            <input type="text" class="form-control" id="phone" name="phone"
              v-model="phone">
          </div>
          <div class="form-group">
            <label for="address">會員住址</label>
            <input type="text" class="form-control" id="address" name="address" v-model="address">
          </div>
          <!-- 編輯內容 - 結束 -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" @click="createMember">Understood</button>
      </div>
    </div>
  </div>
</div>

                </div>
                <div class="col-md-5">
                  <div class="input-group">
                  </div>
                </div>
                <table class="table table-bordered table-hover table-sm">
                  <thead>
                    <tr>
                      <th>頭像</th>
                      <th>電子郵件</th>
                      <th>會員名稱</th>
                      <th>會員電話</th>
                      <th>地址</th>
                      <th>註冊日期</th>
                      <th>
                        <!-- <button>修改</button>
                        <button>刪除</button> -->
                        操作選項
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(member,index) in members" :key="member.memberId">
                      <td>
                        <img :src="'data:image/jpeg;base64,' + member.photo" alt="member photo"
                        style="width: 50px; height: auto;">
                      </td>
                      <td>{{member.email}}</td>
                      <td>{{member.name}}</td>
                      <td>{{member.phone}}</td>
                      <td>{{member.address}}</td>
                      <td>{{member.registeration_date}}</td>
                      <td>
                        <button type="button" class="btn btn-danger btn-primary btn-sm"
                          @click="deleteMember(member.memberId)">刪除</button>
                        <button type="button" class="btn btn-secondary btn-primary btn-sm" data-bs-toggle="modal"
                          data-bs-target="#member-update-modal" @click="beforeUpdate(member)">詳細編輯</button>


                        <div id="member-update-modal" class="modal" tabindex="-1">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">編輯會員資料</h5>
                              </div>
                              <div class="modal-body">
                                <form role="form">
                                  <!-- 編輯內容 - 開始 -->
                                  <div class="form-group">
                                    <input type="file" class="form-control" :key="inputKey" id="photo" name="photo"
                                      @change="handleFileChange">

                                    <img :src="'data:image/jpeg;base64,' + photo" alt="member photo"
                                      style="width: 200px; height: auto;">
                                  </div>
                                  <div class="form-group">
                                    <label for="email">電子郵件</label>
                                    <input type="text" class="form-control" id="email" name="email" v-model="email"
                                      >
                                  </div>
                                  <div class="form-group">
                                    <label for="name">會員名稱</label>
                                    <input type="text" class="form-control" id="name" name="name" v-model="name">
                                  </div>
                                  <div class="form-group">
                                    <label for="phone">會員電話</label>
                                    <input type="text" class="form-control" id="phone" name="phone"
                                      v-model="phone">
                                  </div>
                                  <div class="form-group">
                                    <label for="address">會員住址</label>
                                    <input type="text" class="form-control" id="address" name="address" v-model="address">
                                  </div>
                                  <div class="form-group">
                                    <label for="registeration_date">註冊日期</label>
                                    <input type="text" class="form-control" id="registeration_date" name="registeration_date"
                                      v-model="registeration_date" readonly>
                                  </div>
                                  <!-- 編輯內容 - 結束 -->
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">關閉</button>
                                <button type="button" class="btn btn-primary" @click="updateMember(memberId)">提交</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>


                  </tbody>
                </table>

              </div>
              <ul class="pagination justify-content-center" style="margin:20px 0">
                <li class="page-item disabled"><a class="page-link" href="#">上一頁</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li> -->
                <li class="page-item"><a class="page-link" href="#">下一頁</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; 覓食 GO</span>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <!-- 模板需要的 js 資源 -->
  <script src="/js/jquery-3.7.1.js"></script>
  <script src="/js/bootstrap-4.6.2.bundle.min.js"></script>
  <script src="/js/sb-admin-2.min.js"></script>

  <script>

    const { createApp, ref, onMounted, computed, watch } = Vue

    const app = createApp({
      setup() {

        const inputKey = ref(0);

        let members = ref({});



        let memberId = ref(0);
        let photo = ref('');
        let email = ref('');
        let name = ref('');
        let phone = ref('');
        let address = ref('');
        let registeration_date = ref(0);

        const adminName = ref(localStorage.getItem('adminName'));

        onMounted(() => {
          getAllMemberList();
        });

        // 查詢所有會員 - 開始
        function getAllMemberList(){
          console.log('Function - getAllMemberList() ... starting');
          axios.get('http://localhost:8080/member/search/all-member')
          .then(function (response) {
            members.value = response.data.data;
            console.log(response.data.data);
          })
          .catch(function (error) {
            console.log(error);
          })
        }
        // 查詢所有會員 - 結束

        // 刪除一個會員 - 開始
        function deleteMember(memberId) {
          Swal.fire({
            title: "您是否確定刪除?",
            text: "警告!!! 該動作之結果無法回復",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: '確定',
            cancelButtonText: '取消',
            reverseButtons: true
          }).then((result) => {
            if(result.isConfirmed) {
              axios
                .delete(`http://localhost:8080/member/delete/${memberId}`)
                .then( (response) => {
                    console.log(response);
                    Swal.fire({
                      title: "該會員已被刪除!",
                      icon: "success",
                    });
                    getAllMemberList()
                  })
                .catch( (error) => console.log(error))
              }
            }).catch(error => {
              Swal.fire({
                title: "發生錯誤: 刪除失敗!!",
                icon: "error",
              })
          });
        }
        // 刪除一個會員 - 結束


        
        // 新增一個會員 - 開始
        function createMember(){
          const memberCreateInfo = {
            photo: photo.value,
            email: email.value,
            password: 'password7',
            salt: 'salt7',
            name: name.value,
            phone: phone.value,
            county: address.value,
            district: address.value,
            address: address.value,
            status: '1',
            registeration_date: Date.now(),
            bin: '712345',
            pan: '712345689',
            luhn: '1',
            existence: '1'
          }
          // const formData = new FormData();
          // formData.append('photo', photo.value);
          // formData.append('memberData', JSON.stringify(memberCreateInfo))
          
          axios
            .post(`http://localhost:8080/member/create`, memberCreateInfo)
          .then(function (response) {
            console.log(response);
            clearForm();
            getAllMemberList()
            $('#member-create-modal').modal('hide');
            })
          .catch(function (error) {
              console.log(error);
          });
        }
        // 新增一個會員 - 結束

        

        function beforeUpdate(member) {
          console.log("before update member ...");
          memberId.value = member.memberId;
          photo.value = member.photo;
          email.value = member.email;
          name.value = member.name;
          phone.value = member.phone;
          address.value = member.address;
          registeration_date.value = member.registeration_date;

          inputKey.value++;

          $('#member-update-modal').modal('show');
        }

        function clearForm() {
          photo.value = '';
          email.value = '';
          name.value = '';
          phone.value = '';
          address.value = '';
          registeration_date.value = '';
        }

        // 修改一個會員 - 開始
        function updateMember(memberId) {
          const updateMemberInfo = {
            photo: photo.value,
            email: email.value,
            name: name.value,
            phone: phone.value,
            address: address.value,
            registeration_date: Date.parse(registeration_date.value)
          }
          axios
            .put(`http://localhost:8080/member/update/${memberId}`, updateMemberInfo)
            .then( (response) => {
              console.log(response)
              Swal.fire({
                title: "修改成功",
                icon: "success"
              }).then(function () {
                console.log("update achieve");
                $('#member-update-modal').modal('hide');
                clearForm();
                getAllMemberList();
              });
            })
            .catch( (error) => {
              console.log(error)
              Swal.fire({
                title: "修改失敗,請檢查輸入是否正確",
                icon: "error",
              }).then(function (confirm) {
                console.log("Error confirm");
              });
          });
        }
        // 修改一個會員 - 結束

        function abandonUpdate() {
          console.log("abandon update ...");
          $('#member-update-modal').modal('hide');
        }

        function handleFileChange(event) {
          const file = event.target.files[0];
          console.log(`File : ${file}`);
          if (!file) {
            return;
          }
          const reader = new FileReader();
          reader.onload = (e) => {
            const result = e.target.result;
            console.log(`Result : ${result}`);
            photo.value = result.split(',')[1];
            console.log(file);
          };
          reader.readAsDataURL(file);
        }

        function logout() {
          localStorage.removeItem("adminId");
          localStorage.removeItem("adminName");
          window.location.href = "./admin-login.html";
        }

        // return
        return {
          getAllMemberList,
          members,
          deleteMember,
          beforeUpdate,
          createMember,
          updateMember,
          handleFileChange,
          logout,
          memberId,
          photo,
          email,
          name,
          phone,
          address,
          registeration_date,
          abandonUpdate,
          adminName
        }

      }
    })

    app.mount("#app")


  </script>

</body>

</html>